.loader {
    position: relative;
    width: 100px;
    height: 16px;
}
.loader:before , .loader:after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d2d2d2;
    box-shadow: 32px 0 #d2d2d2;
    left: 0;
    top: 0;
    animation: ballMoveX 0.7s linear infinite;
}
.loader:after {
    box-shadow: none;
    transform: translateX(64px) scale(1);
    z-index: 2;
    animation: none;
    animation: trfLoader 0.7s linear infinite;
}

@keyframes trfLoader {
    0% , 5%{
        transform: translateX(64px) scale(1);
        background: #d2d2d2;
    }
    10%{
        transform: translateX(64px) scale(1);
        background: #DB3746;
    }
    40%{
        transform: translateX(32px) scale(1.5);
        background: #DB3746;
    }
    90%, 95% {
        transform: translateX(0px) scale(1);
        background: #DB3746;
    }
    100% {
        transform: translateX(0px) scale(1);
        background: #d2d2d2;
    }
}
@keyframes ballMoveX {
    0% , 10%{  transform: translateX(0) }
    90%, 100% { transform: translateX(32px) }
}