.banerBackground{
    background-color: #DB3746;
    background-image: url("/upDotVector.svg") ,url("/downDotVector.svg");
    background-position:  top,  bottom;
    background-repeat: no-repeat, no-repeat;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}